# Dependencias
/node_modules
/dist
/.astro
.env

# Archivos de build/temp
/.parcel-cache
/build

# Logs y otros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Bases de Datos de Desarrollo
# Importante: No subir la base de datos SQLite si contiene datos sensibles
/db/*.db
/db/*.sqlite